@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.landing-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.landing-image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.landing-image .text {
  height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image .text h1 {
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 3px;
  margin-top: -140px;
}

.landing-image .text p {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  margin-top: -20px;
  letter-spacing: 2px;
}

.login-section {
  display: flex;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .landing-image {
    visibility: hidden;
    display: none;
    width: 0%;
    height: 0%;
  }

  .login-section {
    width: 100%;
  }
}